<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CHCON" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ChatDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--add name="CHCON" connectionString="Server=localhost;database=cloudaudit_in_VPSYSTEM;Connection Timeout=30;User id=vpsys_admin; Password=V%yi88h5;Packet Size=4096" providerName="System.Data.SqlClient"/-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>